.container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0.5em;
}

.intro h1 {
	text-align: center;
}

.example-code {
	margin-bottom: 1em;
}

section h2 {
	border-top: 1px solid #ccc;
}

span.html-code {
	color: #905;
}

span.css-code {
	color: #07a;
}